<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {
  font-family: "Raleway", sans-serif
}
body{
  background-color:black;

}
body, html {height: 100%}

</style>

<body >
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <br>
<div class="container">
  <div class="card">
<% for(var i=0;i<result.length;i++){%>
<form method="post" action="/created">
    User <%=i+1%>:
    <input type="text" name="email" value="<%=result[i].email%>" disabled>
    Choose a type:(from 1 to 3)
     <input type="number" name="type" required="true">
    <input type="hidden" name="email" value="<%=result[i].email%>">
    
      <button type="submit">Generate Coupon and Send mail</button>
    
  <br><br>
</form>
<% } %>

  </div>
</body>
<script type="text/javascript">

</script>
</html>

</body>
</html>
