<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {
  font-family: "Raleway", sans-serif
}
body{
  background-color:black;

}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/abc.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>

<body >
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">

    <form method="post">
	firstname:<br>
	<input type="text" name="firstname" required="true">
	<br>
	lastname:<br>
	<input type="text" name="lastname" required="true">
	<br>
	email:<br>
	<input type="email" name="email" required="true">
	<br>
	phone:<br>
	<input type="number" name="phone" required="true">
	<br>
	address:<br>
	<input type="text" name="address" required="true">
	<br>
    gender(male/female)<br>
    <input type="text" name="gender" required="true">
    <br>
	<button type="Submit">Submit</button>
</form>

  </div>
  
 

</body>
</html>

</body>
</html>
